<footer class="footer-main">
    {{ site.name }} © {{ site.time | date: '%Y' }} <a class="link" href="{{ site.url }}/feed.xml" target="_blank"><svg class="icon icon-rss"><use xlink:href="#icon-rss"></use></svg></a>

    <p class="extra">
        <a class="link" href="https://github.com/sergiokopplin/indigo">Indigo theme</a> by <a class="link" href="http://koppl.in">Kopplin</a>

        <p>
        	Donate your unused compute power with <a href="https://boinc.berkeley.edu/">Boinc</a>
        </p>
        <p>
        	<img src="https://boincstats.com/signature/-1/user/2367271/sig.png" alt="Donate your spare compute power."/>
        </p>
    </p>
</footer>
