<footer class="footer-main">
    <p class="extra">
        <a amount="1" size="275" to="19480acb-c290-41cb-83e4-0da31960359f" network="coil" href="https://www.xrptipbot.com" target="_blank"></a>
        <p>
        	Donate your unused compute power to research with <a href="https://boinc.berkeley.edu/">Boinc</a>
        </p>
        <p>
        	<img src="https://boincstats.com/signature/-1/user/2367271/sig.png" alt="Donate your spare compute power."/>
        </p>
    </p>

    {{ site.name }} © {{ site.time | date: '%Y' }} <a class="link" href="{{ site.url }}/feed.xml" target="_blank"><svg class="icon icon-rss"><use xlink:href="#icon-rss"></use></svg></a>

	<a class="link" href="https://github.com/sergiokopplin/indigo">Indigo theme</a> by <a class="link" href="http://koppl.in">Kopplin</a>
</footer>
